/* Mobile quereis */

@media (max-width: 768px){
    .search{
        display: inline-block;
        text-align: center;
    }

    .device{
        margin-top: 20px;
        display: block;
    }

    .device-sm{
        margin-bottom: 20px !important;
        margin-right: auto;
        margin-left: auto;
        text-align: center !important;
    }

    .footer-main{
        ul{
            margin-bottom: 20px;
            text-align: center
        }

        h4{
            text-align: center;
        }
    }
}
